.bmi {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
  }
  
  .bmi .card {
    width: 350px;
    height: 350px;
    background-color: #03c9bf;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  
  .bmi .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .bmi .card-header-box {
    display: flex;
    flex-direction: column;
    min-width: 45%;
    background-color: white;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .bmi .card-header-box-name {
    font-size: 12px;
    font-weight: bold;
  }
  
  .bmi.card-header-box-value {
    font-size: 14px;
    color: #333;
  }
  
  .bmi .card button{
    background-color: #ffffff;
    color: rgb(33, 33, 33);
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px;
  }
  
  
  .bmi.card button:hover{
    background-color: rgb(33, 33, 33);
    color: white;
  }
  